<h1>Add A New Actor</h1>

<form action="http://localhost:3000/create_actor">
  <div>
    <label for="actor_name">Name:</label>
    <input id="actor_name" type="text" name="the_name">
  </div>
  <div>
    <label for="actor_image_url">Image URL:</label>
    <input id="actor_image_url" type="text" name="the_image">
  </div>

  <div>
    <label for="actor_dob">Date of Birth:</label>
    <input id="actor_dob" type="text" name="the_dob">
  </div>

  <div>
    <label for="actor_bio">Biography:</label>
    <input id="actor_bio" type="text" name="the_bio">
  </div>


  <div>
    <button>Create Actor</button>
  </div>
</form>
